{% extends 'base.html.twig' %}


{% block body %}

    <div class="header">
        <h2 class="classicEncyclopedyTitle">
            Classic Encyclopedy
        </h2>
        <hr>
        <h3>
            Découvrez les plus beaux morceaux de la musique classique !
        </h3>
    </div>


{% endblock %}
