{% extends 'base.html.twig' %}


{% block body %}


        <div class="searchResult mt-4">
            <p class="fontBold">Mozart</p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ante tortor, efficitur sed erat eu, commodo egestas dolor. Sed mollis, erat eu ultrices fermentum, erat dolor vehicula orci, at pellentesque leo nunc ac nibh. Nam tincidunt elit sed diam varius, ac pellentesque lacus pulvinar. Mauris ultrices magna eget accumsan hendrerit. Duis hendrerit diam sit amet dui fermentum fermentum. Aliquam vitae lacinia nisi, nec tincidunt enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in nibh tempus, tristique augue in, laoreet nisl. Ut et placerat metus, eu consectetur nunc.
        </div>



{% endblock %}
